@font-face{
  font-family:IBM;
src: url('/public/fonts/IBM/IBMPlexSansArabic-Bold.ttf');
font-weight: "bold";
}
@font-face{
  font-family:IBM;
src: url('/public/fonts/IBM/IBMPlexSansArabic-Regular.ttf');
font-weight: 400;
}
@font-face{
  font-family:IBM;
src: url('/public/fonts/IBM/IBMPlexSansArabic-Thin.ttf');
font-weight: 100;
}

.App{
  background-color: rgb(9, 9, 88);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media screen and (min-width: 900px){
  .WthCard{
    width: 40% !important;
  }
} */


